.cont-grid-gif {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.cont-grid-gif>div {
    padding: 5px;
    width: 30%;
    flex-grow: 1;
}

.cont-grid-gif>div>img {
    width: 100%;
    height: 200px;
}

@media screen and (max-width:768px) {
    .cont-grid-gif>div {
        width: 100%;
    }
}