input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blueviolet;
}

input:focus {
    border: 1px solid blueviolet;
}

input::placeholder {
    color: gainsboro;
    text-align: center;
}


@media screen and (min-width:768px) {
    
}