body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none
}

li {
  list-style: none;
}

.cont-gif-app {
  padding: 10px 20px;
}

.cont-gif-app>h3 {
  padding: 3px 0;
}